* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header .Fix {
  background-color: #07464d;
  padding: 10px;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  display: flex;

  gap: 10px;
  align-items: center;
}

.header .logo i {
  color: rgba(255, 255, 255, 0.874);
  border: 2px solid white;
  padding: 2px 5px;
  display: none;
  border-radius: 5px;
  font-size: 20px;
}
.header .logo i:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}
.header .logo .h4 {
  color: rgba(255, 255, 255, 0.874);
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}
.header .logo .h4::first-letter {
  color: red;
}
.header .search {
  width: 40%;
  display: flex;
  position: relative;
}
.header .search i {
  position: absolute;
  display: flex;
  margin-top: 6px;
  margin-left: 5px;
  font-size: 13px;
  z-index: 1;
}

/* // cart item */
.header .Navlink {
  display: flex;
  gap: 15px;
}

.header .Navlink .cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header .Navlink .cart i {
  width: 25px;
  display: flex;
  color: rgba(255, 255, 255, 0.874);

  font-size: 20px;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.header .Navlink .cart i p {
  position: absolute;
  margin-bottom: 17px;
  margin-right: -22px;
  z-index: 1;
  background-color: red;
  font-size: 9px;
  padding: 2px;
  border-radius: 45%;
}
.header .Navlink .cart1 {
  position: absolute;
  margin-top: 100px;
  font-size: 10px;
  font-family: sans-serif;
  background-color: azure;
  padding: 2px 10px;
  opacity: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.628);
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header .Navlink .cart i:hover ~ .cart1 {
  display: block;
  margin-top: 65px;
  opacity: 1;
}

/* User design */

.header .Navlink .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .Navlink .user a {
  cursor: pointer;
}
.header .Navlink .user a i {
  width: 25px;
  display: flex;
  color: rgba(255, 255, 255, 0.874);
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.874);
}
.header .Navlink .user i:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.header .Navlink .user i:active {
  transform: scale(1);
  transition: all 0.3s ease;
}
.header .Navlink .user p {
  position: absolute;
  margin-top: 60px;
  font-size: 10px;
  font-family: sans-serif;
  background-color: azure;
  padding: 2px 10px;
  opacity: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.628);
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
  /* display: none; */
}
.header .Navlink .user a:hover ~ p {
  display: block;
  margin-top: 38px;
  opacity: 1;
}

/* Login Page */
.header .Navlink div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .Navlink div .login {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 5px 16px;
}
.header .Navlink div i {
  display: none;
}
.header .Navlink .login:nth-last-child(2) {
  background-color: rgb(255, 255, 255);
  color: black;
}
.header .Navlink .login:hover {
  transform: scale(1.05);
  font-weight: 100;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}
.header .Navlink .login:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}
/* // header  */

.head1 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  margin-top: -3px;
  background-color: #c2e7c9;
}
.head1 .usd {
  gap: 10px;
  display: flex;
  margin: 0 auto;
  padding: 5px 0px;
  width: 90%;
  justify-content: end;
  display: flex;
}
.head1 .usd .cty {
  width: 70px;
  border: none;
  border-radius: 3px;
  border-left: 1.5px solid #257245;
  border-right: 1.5px solid #257245;
  background-color: #cfc1b300;
  outline: none;
  padding: 2px;
  font-size: 12px;
}
.head1 .usd div {
  display: flex;
  gap: 4px;
  align-items: center;
}
.head1 .usd div h4 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 14px;
}
.head1 .usd div .cty1 {
  border: none;
  border-left: 1.5px solid #257245;
  border-right: 1.5px solid #257245;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  padding: 2px;
  background-color: #25724500;
}
.head1 .usd .cty option {
  padding: 5px;
  background-color: white;
  margin-top: 5px;
}
/* ///// */
/* Header end */
/* ///// */

.footer {
  background-color: rgb(62, 62, 62);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.footer .boxing {
  display: flex;
  width: 40%;
  height: 200px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.footer .boxing h4 {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.footer .boxing p {
  color: rgb(189, 186, 186);
  font-size: 15px;
}
.footer .boxing ul {
  margin-left: 17px;
}
.footer .boxing ul li {
  color: rgb(189, 186, 186);
}
/* / copy */
.footer-cover {
  background-color: rgb(23, 22, 22);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.footer-cover h4 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.893);
  font-size: 14px;
}

/* // item product  */
.space2 {
  display: flex;
  justify-content: center;
  width: 90%;
}
.space2 .NameShop {
  align-items: center;
  display: flex;
  width: 50%;
}
.space2 .NameShop .intro {
  line-height: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.space2 .NameShop .intro h4 {
  font-family: sans-serif;
  font-weight: 300;
  color: #257245;
  font-size: 15px;
}
.space2 .NameShop .intro h2 {
  font-family: sans-serif;
  font-weight: 800;
  color: red;
  padding-left: 10px;
  border-left: 4px solid red;
  letter-spacing: 1px;
  font-size: 30px;
}
.space2 .NameShop .intro p {
  font-family: sans-serif;
  font-size: 13px;
  color: grey;
}
.space2 .NameShop .intro a {
  text-decoration: none;
  background-color: #013237;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.space2 .NameShop .intro a:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.space2 .NameShop .intro a:active {
  background-color: rgba(0, 0, 0, 0.559);
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.space2 .item {
  display: flex;
  margin: 0 auto;
  width: 50%;
  overflow: auto;
}
.space2 .item::-webkit-scrollbar {
  display: none;
}
.space2 .item .img1 {
  width: 100%;
  object-fit: contain;
}
/* // Addtocart */

.Card-product {
  position: absolute;
  margin-top: 50px;
  /* inset: 0; */
  background-color: #07464d;
  position: fixed;
  right: 0;
  top: -2px;
  height: 70vh;
  display: flex;
  justify-content: end;
  /* width: 50%; */
  z-index: 1;
}
.Card-product .box-cart {
  width: 500px;
  padding: 5px;
  overflow: auto;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  border: 1.5px solid black;
  background-color: antiquewhite;
}
/* ::-webkit-scrollbar{
  display: none;
} */
.Card-product .box-cart h5 {
  background-color: aliceblue;
  border: 1px solid black;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.Card-product .box-cart .item-card {
  display: flex;
  padding: 5px 10px;
  height: 60px;
  border: 1px solid black;
  align-items: center;
  background-color: white;
}
.Card-product .box-cart .item-card .cart-img {
  width: 50px;
  height: 50px;
  background-color: #07464d;
}
.Card-product .box-cart .item-card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.Card-product .box-cart .item-card div h4 {
  width: 170px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
  font-family: sans-serif;
  font-size: 12px;
}
.Card-product .box-cart .item-card div p {
  font-size: 14px;
  font-family: sans-serif;
  width: 90px;
  text-align: center;
}
.Card-product .box-cart .item-card div .quantify{
  width: 60px;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.Card-product .box-cart .item-card div .quantify .handleDecrease{
  border: 1px solid black;
  padding: 0px 6px;
  border-radius: 6px;
}

.Card-product .box-cart .item-card div .quantify .handleDecrease:active{
  scale: 0.9;
  transition: all 0.3s ease;
}

.Card-product .box-cart .item-card div .quantify .handleIncrease{
  border: 1px solid black;
  padding: 0px 6px;
  border-radius: 6px;
}

.Card-product .box-cart .item-card div .quantify .handleIncrease:active{
  scale: 0.9;
  transition: all 0.3s ease;
}
/* // total price */

.Card-product .box-cart .total-price {
  padding: 10px 10px;
  border: 2px solid #013237;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.Card-product .box-cart .total-price h4 {
  font-family: sans-serif;
  font-weight: 200;
  /* background-color: #257245; */
  /* width: 255px; */
}
.Card-product .box-cart .total-price div {
  display: flex;
  padding: 0px 0px;
  align-items: center;
  width: 65%;
  /* background-color: #013237; */
  justify-content: space-between;
  /* width: 190px; */
}
.Card-product .box-cart .total-price div p {
  font-family: sans-serif;
  /* width: 104px; */
  text-align: center;
  border-bottom: 1px solid black;
}
.Card-product .box-cart .total-price div .order {
  background-color: #013237;
  border: none;
  padding: 7px 10px;
  color: white;
  border-radius: 10px 5px;
}
.Card-product .box-cart .total-price div .order:hover {
  background-color: #013237d7;
  transition: all 0.2s ease;
}
.Card-product .box-cart .total-price div .order:active {
  background-color: #013237fe;
  transform: scale(1.05);
  transition: all 0.2s ease;
}
@media (max-width: 600px) {
  .header {
    display: flex;
    width: 100%;
  }
  .header .Fix {
    padding: 10px;
    z-index: 1;
  }
  .header .logo i {
    display: block;

  }
  .header .Navlink .div {
    background-color: #013237;
    position: absolute;
    left: 0;
    padding: 10px;
    margin-top: 38px;
    width: 250px;
    height: 80vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header .Navlink .div a {
    width: 200px;
  }
  .header .Navlink .div a:hover {
    transform: scale(1.02);
    color: rgb(255, 255, 255);
  }
  .header .Navlink .div a:nth-child(2) {
    background-color: #f5f2f2;
  }
  .header .Navlink .div a:nth-child(2):hover {
    color: white;
    background-color: black;
  }
  .header .Navlink .div i {
    font-size: 20px;
    display: block;
  }
  .head1 .usd {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: start;
  }
  .space2 {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    width: 100%;
  }
  .space2 .NameShop {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
  }
  .space2 .NameShop .intro {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 7px;
  }
  .space2 .NameShop .intro h4 {
    font-size: 17px;
  }
  .space2 .NameShop .intro h2 {
    font-size: 36px;
  }
  .space2 .NameShop .intro p {
    font-size: 17px;
  }
  .space2 .item {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-left: 0px;
  }
  .space2 .item .img1 {
    display: flex;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0px;
  }
  .footer .boxing {
    width: 100%;
    padding: 0 10px;
    height: 160px;
  }
  .Card-product {
    width: 100%;
  }
  .Card-product .box-cart .item-card {
    display: flex;
    width: 100%;
    /* background-color: rgb(115, 6, 6); */
  }
  .Card-product .box-cart .item-card div h4 {
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 40px;
    font-family: sans-serif;
    font-size: 12px;
  }
}
